/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #1e6a40;
    color: #121212;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    flex: 1;
    background: url('../images/bg2.png') no-repeat center center/cover;
    filter: grayscale(50%);
    position: relative;
    height: 97vh;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    color: #d0fae3;
}

.overlay {
    background: rgba(0, 0, 0, 0.121);
    border-radius: 10px;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.caption {
    margin-top: auto;
    margin-bottom: 10px;
}

.caption h2 {
    font-size: 1.5rem;
    line-height: 1.4;
}

.right-panel {
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 100%;
    max-width: 400px;
}

.form-container h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.form-container p {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.form-container a {
    color: #1a4e2b;
    text-decoration: none;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    background-color: #e4f2eb;
    color: #292929;
}

.terms {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.terms input {
    margin-right: 8px;
}

.create-btn {
    width: 100%;
    background-color: #207044;
    border: none;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 0px;
}

.divider {
    text-align: center;
    margin: 15px 0;
    color: #262626;
}

.social-buttons {
    display: flex;
    gap: 10px;
}

.social-buttons button {
    flex: 1;
    padding: 13px;
    border: none;
    border-radius: 6px;
    background-color: #080808;
    color: #fff;
    cursor: pointer;
}

.social-buttons .google {
    background-color: #db4437;
}

.social-buttons .apple {
    background-color: #333;
} */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: #121212;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    flex: 1;
    background: url('../images/bg2.jpg') no-repeat center center/cover;
    filter: grayscale(50%);
    position: relative;
    height: 97vh;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    color: #e5e7e9;
}

.overlay {
    background: rgba(0, 0, 0, 0.121);
    border-radius: 10px;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.caption {
    margin-top: auto;
    margin-bottom: 10px;
}

.caption h2 {
    font-size: 1.5rem;
    line-height: 1.4;
}

.right-panel {
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 100%;
    max-width: 400px;
}

.form-container h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.form-container p {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.form-container a {
    color: #2aa76f;
    text-decoration: none;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    background-color: #e5e7e9;
    color: #414141;
}

.terms {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.terms input {
    margin-right: 8px;
}

.create-btn {
    width: 100%;
    background-color: #207044;
    border: none;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 0px;
}

.divider {
    text-align: center;
    margin: 15px 0;
    color: #aaa;
}

.social-buttons {
    display: flex;
    gap: 10px;
}

.social-buttons button {
    flex: 1;
    padding: 13px;
    border: none;
    border-radius: 6px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
}

.social-buttons .google {
    background-color: #db4437;
}

.social-buttons .apple {
    background-color: #333;
}