{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farm Sync</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  <link rel="stylesheet" href="{% static 'css/page_transitions.css' %}" />
</head>
<body>

  

  <div class="page-transition-overlay">
    <div class="spinner"></div>
  </div>


  <div class="content-container">
    <div id="hero">
      <h3 id="welcome">Welcome to</h3>
      <h1> Farm Sync</h1>
      <p id="description">
         Farm Sync A comprehensive tool for optimizing crop management and farm productivity.

      </p>
      <p><a href="{% url 'login' %}">Login</a></p>
    </div>
  </div>


  <script src="{% static 'js/page_transitions.js' %}"></script>
</body>
</html>
